{% extends 'base.html.twig' %}
{% block body %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>License name</th>
            <th>License Description</th>
        </tr>
        </thead>
        {% for blogpostitem in blogpost %}
        <tbody>
            <tr>
                <th scope="row">{{ blogpostitem.id }}</th>
                <td>{{ blogpostitem.title }}</td>
                <td>{{ blogpostitem.body }}</td>

            </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}